<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <div class="pb-2">
                <a id="brand-logo_a" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
                    <!-- <img alt="Footer logo" src="{{ .Site.Params.navbar.brandLogo | default .Site.Params.favicon }}" height="80px" width="160px"> -->
                    <img alt="Footer logo" id="brand-logo2"  width="400" height="200">
                </a>
            </div>
        </div>
    </div>
</div>